<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268885866794-ohpj2u8mtfd4rhoes3h73f5cl0r4sqku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268885866794-ohpj2u8mtfd4rhoes3h73f5cl0r4sqku</string>
	<key>API_KEY</key>
	<string>AIzaSyAOPdLC7Yp_nycX3uqYmdP0B_yPRANZF1c</string>
	<key>GCM_SENDER_ID</key>
	<string>268885866794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ewin.Get-Fit</string>
	<key>PROJECT_ID</key>
	<string>cs371l-hw6-952af</string>
	<key>STORAGE_BUCKET</key>
	<string>cs371l-hw6-952af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268885866794:ios:8ea7e55cd4b3fc3ae14653</string>
	<key>DATABASE_URL</key>
	<string>https://cs371l-hw6-952af.firebaseio.com</string>
</dict>
</plist>